/* Start flex */
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
/* End flex */
/* Start padding + margin */
.p10 {
    padding: 10px;
}
.p20 {
    padding: 20px;
}
.m20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
/* End padding + margin */
/* Start color */
.bg-white {
    background-color: white;
}
.c-black {
    color: black;
}
/* End color */
/* Start position */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
/* End position */
/* Start Font */
.txt-c {
    text-align: center;
}
.fs-14 {
    font-size: 14px;
}
/* End Font */
/* Start border */
.rad-6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* End border */
/* Start comment */
/* End comment */